@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.flex {
  display: flex;
}
.flex_direction-column {
  flex-direction: column;
}
.flex_align-items-center {
  align-items: center;
}
.flex_align-items-start {
  align-items: start;
}
.flex_align-items-flex-end {
  align-items: flex-end;
}
.flex_justify-content-space-between {
  justify-content: space-between;
}
.flex_justify-content-space-around {
  justify-content: space-around;
}
.flex_justify-content-center {
  justify-content: center;
}
.flex_justify-content-flex-start {
  justify-content: flex-start;
}
.flex_wrap {
  flex-wrap: wrap;
}
.logo {
  text-decoration: none;
  position: relative;
  width: 80px;
  height: 25px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
.logo__circle {
  transition: 1s;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ff343d;
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  right: -10px;
  top: -5px;
}
.phone {
  margin-top: 24px;
  font-size: 14px;
  color: #92a1a5;
  font-weight: 400;
  text-align: left;
}
.button {
  display: block;
  background-color: #ffffff;
  width: 185px;
  height: 58px;
  line-height: 58px;
  border-radius: 29px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  transition: 1s;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.button__position-1 {
  margin-top: 64px;
  transform: rotate(-90deg);
}
.button__position-1:hover {
  background: none;
  color: #ffffff;
}
.button__position-2 {
  border-color: #3b3b3b;
  background: none;
  color: #ffffff;
}
.button__position-2:hover {
  background: #3b3b3b;
  border-color: #ffffff;
}
.button__position-3 {
  border-color: #eff2f6;
}
.button__position-3:hover {
  border-color: #000000;
}
.button__position-4 {
  margin-top: 50px;
  color: #318f76;
}
.button__position-4:hover {
  background: none;
  color: #ffffff;
}
.body {
  width: 100%;
  height: 5500px;
  background: #ffffff;
  font-family: Montserrat;
  line-height: 30px;
  box-sizing: border-box;
}
.header {
  width: 2000px;
  height: 1032px;
  background: #eff2f6;
  position: relative;
}
.header__background-1 {
  position: absolute;
  right: 0;
  background-color: #ff343d;
  width: 760px;
  height: 1032px;
}
.header__background-2 {
  position: absolute;
  right: 434px;
  top: 188px;
  border-radius: 50%;
  background-color: #ffffff;
  width: 652px;
  height: 652px;
}
.header__background-3 {
  z-index: 2;
  position: absolute;
  right: 244px;
  top: 230px;
  width: 1035px;
  height: 590px;
}
.header__background-text {
  z-index: 1;
  font-size: 360px;
  color: #ff343d;
  font-weight: 700;
  text-align: left;
  position: absolute;
  right: -400px;
  top: 300px;
  cursor: default;
  text-transform: uppercase;
  transform: scaleX(1.0008) rotate(90deg);
  text-shadow: 0px -10px 55px rgba(0, 1, 1, 0.25);
}
.header__text-box-1 {
  width: 1570px;
  height: 25px;
  margin-top: 60px;
  margin-left: 220px;
}
.header__text-box-1-1 {
  width: 295px;
  height: 25px;
}
.header__text-box-1-2 {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 25px;
  text-transform: uppercase;
}
.header__text-box-1-2_text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}
.header__text-box-2 {
  width: 470px;
  height: 470px;
  margin-left: 250px;
  margin-top: 405px;
}
.header__text-box-2-1 {
  width: 390px;
  height: 150px;
  margin-left: 80px;
}
.header__text-box-2-1_head {
  font-size: 60px;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
.header__text-box-2-1_text {
  font-size: 14px;
  color: #92a1a5;
  font-weight: 400;
  text-align: left;
}
.header__text-box-2-2 {
  width: 125px;
  height: 30px;
  margin-top: 210px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: left;
  transform: rotate(-90deg);
}
.tag-1 {
  width: 2000px;
  height: 614px;
}
.tag-1__block-1 {
  width: 614px;
  height: 614px;
  background: url(img/Circle.png);
}
.tag-1__block-1-1 {
  width: 290px;
  height: 90px;
  cursor: default;
}
.tag-1__block-1-1_head {
  font-size: 60px;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
.tag-1__block-1-1_text {
  font-size: 14px;
  color: #92a1a5;
  font-weight: 400;
  text-align: left;
}
.tag-1__block-2 {
  position: relative;
  width: 1386px;
  height: 614px;
  background: url(img/Photo.png);
}
.tag-1__block-2-filter {
  padding-left: 90px;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 625px;
  height: 614px;
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  line-height: 64px;
  box-sizing: border-box;
}
.tag-1__block-2-button {
  position: absolute;
  right: 216px;
  top: 216px;
  width: 58px;
  height: 398px;
}
.tag-1__block-2-button-dash {
  background: #ffffff;
  width: 2px;
  height: 201px;
}
.features {
  width: 2000px;
  height: 600px;
}
.features__wrapper {
  cursor: default;
  width: 1386px;
  height: 196px;
}
.features__box {
  width: 260px;
  height: 196px;
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
.tag-2 {
  width: 2000px;
  height: 656px;
}
.tag-2__block-1 {
  background: url(img/control.png);
  width: 983px;
  height: 656px;
}
.tag-2__block-2 {
  position: relative;
  width: 1017px;
  height: 656px;
  background: #232323;
}
.tag-2__block-2-background {
  position: absolute;
  right: 0;
  top: 55px;
}
.tag-2__block-2-1 {
  cursor: default;
  z-index: 1;
  width: 740px;
  height: 440px;
  line-height: 95px;
  font-size: 85px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}
.tag-2__block-2-1_red-text {
  color: #ff343d;
}
.products {
  height: 870px;
  width: 2000px;
  position: relative;
}
.products__background {
  position: absolute;
  right: 0;
  top: 140px;
}
.products__text-box {
  width: 740px;
  height: 290px;
  margin-left: 215px;
  margin-top: 330px;
  line-height: 95px;
  font-size: 85px;
  color: #000000;
  font-weight: 700;
  text-align: left;
}
.tag-3 {
  width: 2000px;
  height: 1190px;
  background: url(img/Sea.png);
}
.tag-3__text-box {
  margin-top: 400px;
  width: 900px;
  height: 210px;
  line-height: 102px;
  font-size: 92px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.footer {
  width: 2000px;
  height: 538px;
}
.footer__text-box {
  width: 330px;
  height: 70px;
  line-height: 30px;
  font-size: 14px;
  color: #92a1a5;
  font-weight: 400;
  text-align: lest;
}
